name: Flutter CI

on:
  push:

jobs:
  apk:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'

    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable' 
        flutter-version: '2.2.0' 
        
  #  - run: |
  #      flutter clean
  #      flutter pub get
  #      flutter pub upgrade

    - run: flutter build apk --no-sound-null-safety
    
    - name: sign plz
      run: |
        printf "${{ secrets.PASSWORD }}\n${{ secrets.PASSWORD }}\nflutter by\nvim\nole\nboston\nmassachusetts\nus\nyes" | keytool -genkey -v -keystore ~/upload-keystore.jks -keyalg RSA -keysize 2048 -validity 10000 -alias upload
        cd /home/runner/
        ls -al | grep -e "upload-keystore.jks"
        
    - name: reference keystore
      run: |
        touch flutter-ble-terminal/android/key.properties
    
    - name: rename apk
      run: |
        cd build/app/outputs/flutter-apk/
        mv app.apk blueshot.apk
        ls -al
  #ios:
  #  runs-on: macOS-latest
  #  steps:
  #  - uses: actions/checkout@v2
  #  - uses: actions/setup-java@v1
  #    with:
  #      java-version: '12.x'
  #  - uses: subosito/flutter-action@v1
  #    with:
  #      channel: 'stable' # 'dev', 'alpha', default to: 'stable'
  #      flutter-version: '2.2.0' # you can also specify exact version of flutter
  #  - name: Build iOS
  #    run: |
  #        #flutter pub get
  #        flutter build ios --release --no-codesign #testing --debug
  #        #flutter build ios --debug #test failed
  #        
  #  - name: Check if Runner.app exists
  #    run: |
  #        cd /Users/runner/work/flutter-ble-terminal/flutter-ble-terminal/build/ios/iphoneos
  #        ls | grep "Runner"

    #- name: Create Payload
    #  run: |
    #      cd /Users/runner/work/flutter-ble-terminal/flutter-ble-terminal/build/ios/iphoneos
    #      mkdir Payload
    #      mv Runner.app Payload/Runner.app
          
    #- name: Build IPA #requires developer certificate
    #  run: |
    #    #Test flutter build ipa
    #    flutter build ipa #--export-options-plist not needed
