name: Flutter CI

on:
  push:

jobs:
  apk:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'

    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable' 
        flutter-version: '2.5.2' 
        
    - run: |
        flutter clean
        flutter pub get
        flutter pub upgrade

    - run: flutter build apk --no-sound-null-safety
    
    - run: |
        cd build/app/outputs/flutter-apk/
        mv app.apk blueshot.apk
        ls -al
  ios:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable' # 'dev', 'alpha', default to: 'stable'
        flutter-version: '2.5.2' # you can also specify exact version of flutter
    - run: |
        flutter clean
        flutter pub get
        flutter pub uprade
        flutter build ios --release --no-codesign
